/Practice.DataAccess/bin
/Source/Practice.DataAccess/bin
/Source/Practice.DataAccess/obj
/Source/Practice.Domain/bin
/Source/Practice.Domain/obj
/Source/Practice.WebAPI/bin
/Source/Practice.WebAPI/obj
